.current-conditions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 2rem;
}

.sun-and-moon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 2rem;
}
