[build]
  base = "/"
  publish = "./client/build/"
  command = "yarn install && yarn --cwd client install && yarn --cwd client build"
  environment = { CI = "true"}

[context.production]
  environment = { REACT_APP_API_URL = "https://o2hlpsp9ac.execute-api.us-east-1.amazonaws.com/prod/api"}

[context.deploy-preview]
  environment = { REACT_APP_API_URL = "https://li0rnckwp5.execute-api.us-east-1.amazonaws.com/dev/api"}

# The following redirect is intended for use with most SPAs that handle
# routing internally.
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200