/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind base;

/**
  * This injects any component classes registered by plugins.
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  */

.hourly-row {
  @apply text-sm text-center rounded;
}

.rounded-image {
  @apply border-gray-300 border rounded;
}

.forecast-title {
  @apply text-2xl font-medium mb-2;
}

.forecast-header {
  @apply uppercase tracking-widest text-gray-600 font-semibold;
}

.forecast-wrapper {
  @apply relative bg-white rounded-lg shadow-md p-4 flex-shrink-0 flex-grow-0;
}

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.last-no-margin:last-child {
  margin: 0;
}

.scroller-vertical {
  overflow-x: auto;
}

.scroller-vertical::-webkit-scrollbar {
  width: 1rem;
}

.scroller-vertical::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 7px;
  width: 5px;
  background-color: rgba(44, 82, 130, 0.35);
  box-shadow: inset -1px -1px 0px rgba(44, 82, 130, 0.05),
    inset 1px 1px 0px rgba(44, 82, 130, 0.05);
}

.scroller-vertical::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.scroller-vertical::-webkit-scrollbar-corner {
  background-color: transparent;
}
