.skeleton-character {
  width: 140px;
  height: 16px;
  margin-top: 0.5em;
  border-radius: 7px;
  background-color: #ddd;
  background-image: linear-gradient(90deg, #ddd 0px, #ececec 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.2s infinite linear;
  background-repeat: no-repeat;
}

.skeleton-character:first-child {
  margin-top: 0;
}

.skeleton-character.sentence {
  animation: shine-lines-long 2.4s infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  70%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-lines-long {
  0% {
    background-position: -100px;
  }
  70%,
  100% {
    background-position: 600px;
  }
}
