.skeleton-character {
  width: 140px;
  height: 0.75rem;
  margin-top: 0.25rem;
  border-radius: 7px;
  background-color: #ddd;
  background-image: linear-gradient(90deg, #ddd 0px, #ececec 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.2s infinite linear;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .skeleton-character {
    height: 1rem;
    margin-top: 0.5rem;
  }
}

.skeleton-character:first-child {
  margin-top: 0;
}

.skeleton-character.sentence {
  animation: shine-lines-long 2.4s infinite linear;
}

.skeleton-character.full {
  animation: shine-lines-full 4.8s infinite linear;
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  70%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-lines-long {
  0% {
    background-position: -100px;
  }
  70%,
  100% {
    background-position: 600px;
  }
}

@keyframes shine-lines-full {
  0% {
    background-position: -100px;
  }
  70%,
  100% {
    background-position: 1300px;
  }
}
